<h1><%= t('.edit_study_record') %></h1>

<%= render 'form', {study_record: @study_record, categories: @categories} %>

<%= link_to t('.show'), user_study_record_path(user_id: current_user.id, id: @study_record.id) %> |
<%= link_to t('.back'), user_study_records_path(user_id: current_user.id) %>