<div>
  <h2>Study Support</h2>
  <h4>サイトについての説明文</h4>
  <div>
    <%= image_tag 'logo.png', width: '30%' %>
  </div>
  <div>
    <p>忘却曲線とは？？</p>
    <%= link_to '忘却曲線について', home_about_path %>
  </div>
  <%= render 'content' %>
</div>