<div>
  <div>
    <p>初めてご利用の方</p>
    <%= link_to "アカウント登録", new_user_registration_path %>
  </div>
  <div>
      <%= link_to "ログイン", new_user_session_path %>
  </div>
  <div>
    <p>みんなの学習一覧を見る</p>
    <%= link_to "学習記録一覧", study_records_path %>
  </div>
</div>