<div class="uk-width-medium-1-1 uk-row-first uk-margin-medium-top">
  <div class="uk-vertical-align uk-text-center ">
    <%= image_tag 'forgetting_curve.png', width: '60%' %>
    <h4>忘却曲線についての説明文</h4>
    <%= render 'content' %>
  </div>
</div>