<div class="uk-width-medium-1-1 uk-row-first uk-margin-medium-top">
  <div class="uk-vertical-align uk-text-center ">
    <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
        <div class="uk-card-media-left uk-cover-container">
            <img src="/assets/forgetting_curve.png" alt="" uk-cover>
            <canvas width="800" height="400"></canvas>
        </div>
        <div>
            <div class="uk-card-body">
              <h3 class="uk-card-title">About Forgetting Curve</h3>
              <p>人の脳は1度勉強したことを1時間後には56%忘れ、1日後には74%、さらに1週間後には77%、1カ月後には79%を忘れるとされています。もちろんこれには個人差がありますが、概ねこのように、「時間が経つほど記憶は減る」というのは事実です。</p>
              <p>忘れるまでの時間と記憶の関係を表した図を「エビングハウスの忘却曲線」と言い、「忘却曲線」はドイツの心理学者のヘルマン・エビングハウスという人が提唱していたものです。</p>
              <p>参照：ウィキペディアより</p>
            </div>
        </div>
    </div>
    <%= render 'content' %>
  </div>
</div>