.logo_img {
  width: 80px;
}

.nav_user_image {
  width: 70px;
  border-radius: 50%;
}

.global_nav li{
  display: inline;
  list-style: none;
}

.nav-list-item {
  color: black;
}

.nav-list-circle {
  color: crimson;
}

.fa-twitter {
  color: #1da1f2;
}