name: EC2 auto deploy

on:
 push:
  branches: [master]

 workflow_dispatch:

jobs:
 build:
  runs-on: ubuntu-latest
  steps:
    # IP取得ライブラリをインストール
    - name: Public IP Install
      id: ip
      uses: haythem/public-ip@v1.2
    # BranchをCheckout
    - name: Checkout
      uses: actions/checkout@v2
    # AWS CLIをインストールする
    - name: AWS CLI install
      run: |
        curl "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o "awscliv2.zip"
        unzip awscliv2.zip
        sudo ./aws/install --update
        aws --version
    # AWS CLIにキーを設定をする
    - name: AWS set Credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ap-northeast-1
    # デプロイする
    - name: Deploy
      run: |
        # SSHのセキュリティグループを開放する
        aws ec2 authorize-security-group-ingress --group-id ${{ secrets.EC2_SECURITY_GROUP_ID }} --protocol tcp --port 22 --cidr ${{ steps.ip.outputs.ipv4 }}/32
        # SSH接続して、git pullする
        echo "${{ secrets.GIT_PRIVATE_KEY }}" > private_key
        chmod 600 private_key
        ssh -oStrictHostKeyChecking=no ${{ secrets.EC2_USER_NAME }}@${{ secrets.EC2_HOST_NAME }} -i private_key "cd /var/www/html/ && git fetch --prune && git checkout master && git pull origin master"
        # SSHのセキュリティグループを閉じる
        aws ec2 revoke-security-group-ingress --group-id ${{ secrets.EC2_SECURITY_GROUP_ID }} --protocol tcp --port 22 --cidr ${{ steps.ip.outputs.ipv4 }}/32