<% if user_signed_in? == false %>
  <footer id="page-footer" class="uk-margin" uk-sticky>
    <div class="uk-container uk-padding-small  uk-background-default">
      <p class="uk-text-small  uk-text-middle uk-text-center">Created By Takaya Suzuki</p>
    </div>
  </footer>
<% end %>